body {
    padding-top: 50px;
    padding-left: 50px;
    font-family: Lato, Arial, sans-serif;
    font-size: 1em;
}
main {
    max-width: 50%;
}
h1 {
    font-weight: bold;
    font-size: 1.3em;
}
p {
    margin: 10px;
}
label {
    display: inline-block;
    width: 130px;
    font-weight: bold;
    padding: 2px;
    margin: 5px;
}
input[type=button],
input[type=submit] {
    background-color: #3f6844;
    border: none;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    margin: 1em 1em 0 0;
    cursor: pointer;
    border-radius: 3px;
    width: 75px;
}

input[type=button]:focus,
input[type=submit]:focus {
    border: 2px solid #5daa68;
}

input[type=text],
input[type=password] {
    width: 20em;
    height: 2em;
    border: 1px solid #5daa68;
    color: #3f6844;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus {
    border: 2px solid #5daa68;
}

pre {
    margin-top: 10px;
    padding: 5px;
    background: ghostwhite;
    border: 1px solid #4169E1;
}

li {
    list-style-type: disc;
}

li::marker {
    color: #5daa68;
}
.spacer{
}

.success {
    border: 1px solid #5daa68;
    padding: 5px;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3f6844;
    font-weight: bold;
}

.error {
    border: 1px solid #5daa68;
    padding: 5px;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3f6844;
    font-weight: bold;
}

.message {
    border: 1px solid #5daa68;
    padding: 5px;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3f6844;
    font-weight: bold;
}